[Unit]
Description=Sync EUPS packages S3 bucket

[Service]
Type=oneshot
# XXX running as root to punt on dealing with persistent fs uid/gid issues
#User=s3sync
ExecStart=/usr/local/bin/s3sync
StandardOutput=journal
StandardError==journal
